name: Build & Publish
on:
  push:
    branches:
      - "master"

jobs:
  do:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        version:
          - {
              dnsmasq: 2.90-r3,
              tag: latest,
            }
          - {
              dnsmasq: 2.90-r3,
              tag: edge,
            }
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Check credentials
        id: docker-credentials
        run: |
          echo defined=$(test -n "${{ secrets.DOCKERHUB_USERNAME }}" && echo true || echo false) >> $GITHUB_OUTPUT

      - name: Check Quay.io credentials
        id: quayio-credentials
        run: |
          echo defined=$(test -n "${{ secrets.QUAYIO_USERNAME }}" && echo true || echo false) >> $GITHUB_OUTPUT

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Login to Docker Hub
        if: steps.docker-credentials.outputs.defined == 'true'
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Login to Quay.io
        if: steps.quayio-credentials.outputs.defined == 'true'
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: quay.io
          username: ${{ secrets.QUAYIO_USERNAME }}
          password: ${{ secrets.QUAYIO_PASSWORD }}

      - name: Get release
        id: release
        run: |
          echo rel=$(sed 's/^.*://' .github/releases/${{ matrix.version.tag }}/Dockerfile) >> $GITHUB_OUTPUT

      - name: Split release components
        id: split
        run: |
          echo majorminor=$(echo ${{ steps.release.outputs.rel }} | awk -F. '{ print $1 "." $2 }') >> $GITHUB_OUTPUT
          echo major=$(echo ${{ steps.release.outputs.rel }} | awk -F. '{ print $1 }') >> $GITHUB_OUTPUT

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@318604b99e75e41977312d83839a89be02ca4893 # v5.9.0
        with:
          images: |
            ${{ github.repository_owner }}/dnsmasq
            quay.io/${{ github.repository_owner }}/dnsmasq
          tags: |
            ${{ matrix.version.tag != 'edge' && format('{0}', matrix.version.dnsmasq) || '' }}
            ${{ format('{0}-alpine-{1}', matrix.version.dnsmasq, steps.release.outputs.rel) || '' }}
            ${{ matrix.version.tag != 'edge' && format('{0}-alpine-{1}', matrix.version.dnsmasq, steps.split.outputs.majorminor) || '' }}
            ${{ matrix.version.tag != 'edge' && format('{0}-alpine-{1}', matrix.version.dnsmasq, steps.split.outputs.major) || '' }}
            ${{ matrix.version.dnsmasq }}-alpine-${{ matrix.version.tag }}
            ${{ matrix.version.tag }}

      - name: Build and push
        if: steps.docker-credentials.outputs.defined == 'true'
        id: docker-build
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          build-args: ALPINE_RELEASE=${{ steps.release.outputs.rel }}
          platforms: linux/amd64,linux/arm64,linux/arm/v7
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

      - name: Image digest
        run: |
          echo ${{ steps.docker-build.outputs.digest }}
